    <% @entries.each do |e| %>
      <% if @myUserId != e.user.id %>
          <h2><%= e.user.name %>さんとのトークルーム</h2>
      <% end %>
    <% end %>
    <%= link_to "ユーザー一覧に戻る", users_path %>

    <% @messages.each do |m| %>
      <% if m.user_id == current_user.id %>
        <div class="mb-1 d-flex">
          <%= image_tag m.user.get_profile_image, size:'50x50', class:"rounded ml-1 mr-2"%>
          <div class="rounded bg-success text-black text-break" style="max-width:50%"><%= m.message %></div>
        </div>
      <% else %>
        <div class="d-flex flex-row-reverse mb-1">
          <%= image_tag m.user.get_profile_image, size:'50x50', class:"rounded ml-2 mr-1"%>
          <div class="rounded bg-secondary text-white text-break mw-100" style="max-width:50%;"><%= m.message %></div>
        </div>
      <% end %>
    <% end %>